@page
@model SignUpModel
@{
    Layout = null;
}
<h1>注册</h1>

<form method="post">
    <input type="text" class="form-control" name="email" value="" />
    <input type="text" class="form-control" name="passWord" value="" />
    <input type="submit" />
</form>